# Ignore JetBrains IDE files
.idea/
*.iml

# Ignore localstack data directory
localstack-data/
/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/modules/ecs/*
!/terraform/modules/ecs/variables.tf

# Ignore lambda zip files
/lambda-functions/*.zip

# Ignore other common files
node_modules/
*.env

docker-compose.override.yaml
