# Ignore JetBrains IDE files
.idea/

# Ignore localstack data directory
localstack-data/
/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/lambda-functions

# Ignore other common files
node_modules/
*.env
