.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #9c27b0 !important;
  color: white;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.header-tabs {
  display: flex;
  justify-content: center;
}

.header-tab {
  color: white !important;
}

.header-tabs .MuiTabs-indicator {
  background-color: #f3e5f5 !important;
}

.button-row {
  display: flex;
  gap: 8px;
}

.settings-button {
  color: white !important;
}
