.post-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}

.post-content::-webkit-scrollbar {
  background-color: transparent;
}

.post-content::-webkit-scrollbar-thumb {
  background-color: rgb(156, 39, 176, 0.5);
  border: 4px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

.post-grid {
  display: grid;
  gap: 16px;
}

.post-item {
  position: relative;
  width: 100%;
}

.personal-post-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: rgb(156, 39, 176, 0.1);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.personal-post-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.personal-post-header {
  font-weight: bold;
}

.post-timestamp {
  font-size: 0.85rem;
}

.personal-post-content {
  text-align: left;
  margin-top: 4px;
}

.delete-icon-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.pin-icon-wrapper {
  position: absolute;
  top: 0px;
  right: 12px;
}

.post-like-wrapper {
  position: absolute;
  bottom: 4px;
  right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
}
