.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e5f5;
}

.login-paper {
  padding: 16px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #9c27b0;
  color: white;
}

.login-input {
  background-color: white;
  border-radius: 8px;
}
