.registration-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f3e5f5;
    overflow: auto;
}

.registration-paper {
    padding: 16px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #9c27b0;
    color: white;
}

.registration-input {
    background-color: white;
    border-radius: 8px;
}

.error-text {
    margin-top: 8px;
    color: red;
    font-size: 14px;
    text-align: center;
}
