.friends-list-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 16px;
  width: 50%;
}

.friend-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100% !important;
  height: auto;
  margin-bottom: 16px;
  padding-bottom: 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.friend-avatar {
  width: 64px;
  height: 64px;
  margin-left: 16px;
  margin-right: 16px;
}

.friend-card-content {
  padding: 0;
}

.friend-username {
  font-weight: 500;
}
