.friends-list-container {
  margin-top: 16px;
}

.friend-card {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 16px;
  padding: 8px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Indicates the card is clickable */
}

.friend-avatar {
  width: 64px;
  height: 64px;
  margin-left: 16px;
  margin-right: 16px;
}

/* Popup header styling */
.popup-header {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  position: relative;
}

/* Close button styling for the pop-up */
.close-button {
  color: #555;
}

/* Popup content styling */
.popup-content {
  padding: 24px;
}

/* Friend profile section styling */
.friend-profile-section {
  text-align: center;
  margin-bottom: 16px;
}

/* Adjusting the avatar within the friend profile section */
.friend-profile-section .MuiAvatar-root {
  width: 120px;
  height: 120px;
  margin: 0 auto 16px auto;
  border: 2px solid #ddd;
}

/* Posts rubric styling */
.posts-section {
  padding: 16px 0;
}

.posts-section h6 {
  margin-bottom: 8px;
  text-align: left;
}

.post-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.post-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.post-title {
  font-weight: bold;
}

.post-content {
  font-size: 0.9rem;
  color: #555;
}
