.education-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 15vh;
  height: auto;
}

.education-list::-webkit-scrollbar {
  background-color: transparent;
}

.education-list::-webkit-scrollbar-thumb {
  background-color: rgb(156, 39, 176, 0.5);
  border: 4px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
