.popup-backdrop {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(4px) !important;
}

.popup-dialog-paper {
  width: 40%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
}

.popup-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #9c27b0;
  color: white;
  width: 100%;
}

.popup-title {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  font-size: 1.25rem;
  font-weight: bold;
}

.remove-btn {
  width: 20%;
  background-color: #f44336 !important;
  color: white !important;
  font-weight: bold;
  text-transform: none;
}

.profile-close-button-wrapper {
  display: flex;
  justify-content: right;
  width: 30%;
}

.profile-close-button {
  color: white !important;
}

.popup-content {
  padding: 24px;
  overflow-y: auto;
  background-color: white;
  margin-top: 8px;
}

.popup-content::-webkit-scrollbar {
  background-color: transparent;
}

.popup-content::-webkit-scrollbar-thumb {
  background-color: #f3e5f5;
  border: 4px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

.location {
  padding-bottom: 16px;
  word-break: break-word;
}

.section-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.scrollable-sections {
  display: flex;
  gap: 16px;
}

.education-scroll,
.work-scroll {
  flex: 1;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 8px;
}

.section-box {
  background-color: #d1aaff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-family: monospace;
}

.posts-heading {
  margin-bottom: 12px;
}

.post-box {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #f0e6f6;
}
